@font-face {
  font-family:Minecraft;
  src: url(Minecraft.ttf);
}
body {
  background-color:#37474F;
}
.text {
 border:2px #ffffff solid;
  background-color:#bababa;
  font-family: Minecraft;
  color:white;
  width:100%;
  font-size:30px;
  line-height:40px;
  text-align: center;
  border-radius:2px;
  font-weight: 400;
}
.text::selection {
  background-color:#D54B3E; 
}
.text::-moz-selection {
  background-color:#D54B3E;
}


.title {
  color:white;
  font-family:'Comfortaa';
  font-size:55px;
}
.h2 {
 font-family:'Comfortaa';
  font-size:35px;
  font-weight: 700;
}
.google {
  color:#4285F4;

}
.keep {
  
  color:#EA4335; 
}
.hover {

  color:#FFBB00;
}
.navbar {
  color:#4285F4; 
}
.about {
  color:#34A853; 
}
.abouthover {
  color:#EA4335; 
}
.logo {
  width:30px; 
  vertical-align: middle;
  position:fixed;
  right:0;
  bottom:0;
  opacity:.7;
  transition: all .25s ease-in-out;
}
.logo:hover {
  opacity:1; 
}
